# See https://help.github.com/ignore-files/ for more about ignoring files.

# General
#   gulp
node_modules/
#   code editors
.vscode
.idea

# React
#   dependencies
nethood-react/node_modules

#   testing
nethood-react/coverage

#   production
nethood-react/build

#   misc
nethood-react/.DS_Store
nethood-react/.env.local
nethood-react/.env.development.local
nethood-react/.env.test.local
nethood-react/.env.production.local

nethood-react/npm-debug.log*
nethood-react/yarn-debug.log*
nethood-react/yarn-error.log*


# Python
venv

#   production
nethood/nethood/secret_settings.py
nethood/frontend/static/frontend/build
nethood/frontend/templates/frontend/build

# api
nethood/api/migrations/

#   __pycache__
nethood/nethood/__pycache__
nethood/frontend/__pycache__
nethood/frontend/migrations/__pycache__
nethood/api/__pycache__
nethood/api/migrations/__pycache__

#   DataBase
nethood/db.sqlite3